<br/><br/>
<table class="table table-striped table-responsive table-hover">
  <thead>
    <th class="text-hide">Id</th>
    <th>Courses with JSON </th>
  </thead>
  <tbody>
    <tr>
      
    </tr>
    <tr  *ngFor= 'let j of coursesjson'>
      <td>
        <ul>
          <li>{{j.courseName | lowercase}}
         {{j.coursePrice | currency:'INR':false}}</li>
        </ul>
      </td>
            
             
        <td>
          <button class="btn btn-danger" (click)=" deleteCoursejson(j)">Delete</button>&nbsp;&nbsp;
          <button class="btn btn-success" (click)="editCoursejson(j)">Edit</button>&nbsp;&nbsp;
        </td>
    </tr>
    <tr *ngIf = " !coursesjson || coursesjson.length == null" >
    <th colspan = "5"> 
      <p class="text-right">
        Sorry, No Courses available ..!
      </p>
    </th>
  </tr>
  </tbody>
</table>
