<h1>Welcome to Home Page</h1>
<p class="text-success" style="font-weight:bold"> 
  Our mission at the Courses play application is to help teachers 
  and parents around the globe, to progress their younger child's 
  education through the use of apps.The Courses play application
   was created by professionals with decades of communications and
   HR experience to address the challenges organizations face in 
   communicating with a dispersed, frontline and deskless workforce 
   through the use of mobile technology. Our solution wasn’t developed
    by a group of tech folks thinking they understood the issues
    that exist — we actually have lived and consulted on them.
    With the employee as the focus of our development,the Courses play
     application is more than just a newsfeed. It is a holistic
    internal communication solution that allows employees to have
    fast and easy access to the information, documents and tools
    they need to succeed in their work.
</p>
<div>
<ul style="list-style-type:disc;">
<li><a  class="text-left" [routerLink]="['/course']" >
<h4>Courses</h4> </a></li>
<li>
<a  class="text-left" [routerLink]="['/courseswithjson']" >
  <h4>Courses With JSON</h4> </a>
</li>
</ul>
</div>
    
